@import 'partials/header';
@import 'partials/home';
@import 'partials/footer';

/**
 * Add site-wide css here.
 */
body {
  background: #b1d8dc;
  color: #000;
  font-family: Source Sans Pro, sans-serif;
    a {
      color: #931621;
    }
    .l-page-title {
      text-align: center;
      padding-top: 5px;
    }
  .l-content {
    font-size: 1.4em;
    form {
      background: #eff4f5;
      border: 1px solid #969696;
      padding: 13px 25px 13px 25px;
      font-size: 16px;
      font-family: Georgia, serif;
      .form-actions {
        input.button-primary {
          border-color: #000;
          background: #931621;
        }
      }
    }
  }
}
