@import 'partials/header';
@import 'partials/home';
@import 'partials/footer';

/**
 * Add site-wide css here.
 */
body {
  background: #b1d8dc;
  color: #000;
  font-family: Source Sans Pro, sans-serif;
    a {
      color: #931621;
    }
  .l-content {
    font-size: 1.4em;
  }
}
