.l-footer {
  @media (min-width:320px) {
    font-family: Georgia, serif;
    .bd4g-footer {
      line-height: 7px;
      .platform_sh_widget a {
        line-height: 1.3em;
      }
    }
  }
  @media (min-width:375px) {
  }
  @media (min-width:667px) {
  }
  @media (min-width:768px) {
  }
  @media (min-width:1024px) {
  }
  @media (min-width: 1366px) {
  }
  @media (min-width: 1877px) {
  }
}
