.l-header {
  @media (min-width:320px) {
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 2px solid #ccc;
  }
  @media (min-width:375px) {
  }
  @media (min-width:667px) {
  }
  @media (min-width:768px) {
  }
  @media (min-width:1024px) {
  }
  @media (min-width: 1366px) {
  }
  @media (min-width: 1877px) {
  }
}
