.l-header {
  @media (min-width:320px) {
    padding-top: 3px;
    .site-name {
      font-family: Georgia, serif;
      font-weight: normal;
      font-size: 2.7em;
        a {
          color: #000;
        }
        a:hover {
          text-decoration: none;
          color: #931621;
        }
      }
      .bd-plus-heart {
        width: 8.3em;
      }
  }
  @media (min-width:375px) {
  }
  @media (min-width:667px) {
    .site-name {
      font-size: 4em;
    }
    .bd-plus-heart {
      width: 12.3em;
      padding-top: 8px;
    }
  }
  @media (min-width:768px) {
    padding-top: 25px;
  }
  @media (min-width:1024px) {
    .site-name {
      font-size: 4em;
    }
    .bd-plus-heart {
      width: 12.5em;
    }
  }
  @media (min-width: 1366px) {
    padding-top: 40px;
  }
  @media (min-width: 1877px) {
  }
}
