/** body class for the home page **/
.homepage {
  @media (min-width:320px) {
    .page-title {
      display: none;
    }
    .nav-apply-for-assistance,
    .nav-volunteer,
    .nav-partners {
      margin-left: auto;
      margin-right: auto;
      width: 33%;
    }
  }
  @media (min-width:375px) {
  }
  @media (min-width:667px) {
  }
  @media (min-width:768px) {
  }
  @media (min-width:1024px) {
  }
  @media (min-width: 1366px) {
  }
  @media (min-width: 1800px) {
  }
}
