.l-bottom {
  @media (min-width:320px) {
    font-family: Georgia, serif;
    .text-for-sponsors {
      text-align: center;
      font-size: 2em;
    }
    .img.tandem-icon,
    .img.nerds-icon,
    .img.platformsh-icon {
      width: 75%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  @media (min-width:375px) {
  }
  @media (min-width:667px) {
  }
  @media (min-width:768px) {
  }
  @media (min-width:1024px) {
  }
  @media (min-width: 1366px) {
  }
  @media (min-width: 1877px) {
  }
}
