.l-bottom {
  @media (min-width:320px) {
    font-family: Georgia, serif;
    .text-for-sponsors {
      text-align: center;
      font-size: 2em;
    }
    .sponsor-icon {
      padding-bottom: 7px;
      img.tandem-icon,
      img.platformsh-icon {
        width: 78%;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      img.nerds-icon {
        width: 67%;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  @media (min-width:375px) {
  }
  @media (min-width:667px) {
  }
  @media (min-width:732px) {
    .sponsor-icon {
      display: inline-block;
      margin-left: 3.1%;
      img.tandem-icon,
      img.nerds-icon,
      img.platformsh-icon {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
      }
    }
    .tandem-icon-div {
      width: 30%;
    }
    .nerds-icon-div {
      width: 24%;
    }
    .platformsh-icon-div {
      width: 32%;
    }
  }
  @media (min-width:1024px) {
  }
  @media (min-width: 1366px) {
  }
  @media (min-width: 1877px) {
  }
}
