# Ignore configuration files that may contain sensitive information.
settings*.php
sites/*/settings*.php
!settings.platformsh.php

# Ignore paths that contain user-generated content.
/files
/private
sites/*/files
sites/*/private
.DS_Store
